<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:if value="$(arg sim_mode)">
        <ros2_control name="GazeboSystem" type="System">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <joint name="base_link_left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity" />
                <state_interface name="position" />
            </joint>
            <joint name="base_link_right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity" />
                <state_interface name="position" />
            </joint>
        </ros2_control>

        <gazebo>
            <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin"
                filename="libgz_ros2_control-system.so">
                <parameters>$(find bringup)/config/gazebo_control.yaml</parameters>
                <parameters>$(find bringup)/config/controllers.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:if>
    <xacro:unless value="$(arg sim_mode)">
        <!-- <ros2_control name="Denis" type="system">
            <hardware>
                <plugin>denis_diff_hardware/DiffDenisSystemHardware</plugin>
                <param name="left_wheel_name">base_left_wheel_joint</param>
                <param name="right_wheel_name">base_right_wheel_joint</param>
                <param name="loop_rate">30</param>
                <param name="device">/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0</param>
                <param name="baud_rate">115200</param>
                <param name="timeout_ms">1000</param>
                <param name="enc_counts_per_rev">1320</param>
                <param name="debug_comms_feedback">1</param>
                <param name="pid_p">25</param>
                <param name="pid_d">5</param>
                <param name="pid_i">0</param>
                <param name="pid_o">50</param>
            </hardware>
            <joint name="base_left_wheel_joint">
                <command_interface name="velocity" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
            <joint name="base_right_wheel_joint">
                <command_interface name="velocity" />
                <state_interface name="position" />
                <state_interface name="velocity" />
            </joint>
        </ros2_control> -->
    </xacro:unless>
</robot>