<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/xacro/wiki">

    <link name="rplidar_base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://description/mashes/lidar_base.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="white" />
        </visual>
        <collision>
            <origin xxyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://description/mashes/lidar_base.stl" scale="0.001 0.001 0.001" />
            </geometry>
        </collision>
        <xacro:box_inertia m="0.11" x="0.15" y="0.15" z="0.072" o_xyz="0 0 0" o_rpy="0 0 0" />
    </link>


    <link name="rplidar">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.03" length="0.02" /> 
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <cylinder radius="0.03" length="0.02" /> 
            </geometry>
        </collision>
        <xacro:box_inertia m="0.01" x="0.06" y="0.06" z="0.02" o_xyz="0 0 0" o_rpy="0 0 0" />
    </link>
</robot>